:root {
  --font-sans: 'Nippo', sans-serif;
  --font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

  --lime: #CDFF64;
  --white-70: rgba(255, 255, 255, 0.7);
}

html {
  font-size: 16px;
  font-family: var(--font-sans);
}


/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 700.0;
*
* available axes:

* 'wght' (range from 200.0 to 700.0)

*/

@font-face {
  font-family: 'Nippo';
  src: url('../fonts/Nippo-Variable.woff2') format('woff2'),
    url('../fonts/Nippo-Variable.woff') format('woff'),
    url('../fonts/Nippo-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}